<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Getting Started with Node on Heroku</h1>
    
    <div id="ping-div"> Pings SHOULD be here 
    
    <ul>
    <% transactions.forEach(function(r) { %>
    	<li><%= r %></li>
    <% }); %>
    </ul>

    
    </div>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
</body>
</html>
